.idea
db.sqlite3
frontend_deployment.md
aeupdates/config.py
__pycache__

apps/frontend/node_modules
apps/frontend/npm-debug.log
apps/frontend/tmp
apps/frontend/common-tmp
apps/frontend/*.tgz
apps/frontend/docs/build
apps/frontend/.node_modules-tmp
apps/frontend/.bower_components-tmp
apps/frontend/coverage
apps/frontend/bower_components

#static folder
aeupdates/static/

