django==1.9.2
djangorestframework==3.11.2
django-unslashed>=0.3.0
uwsgi==2.0.12
psycopg2
django-rest-auth==0.7.0
django-cors-headers==1.1.0
djangorestframework-jsonapi==2.0.0-beta.2
pymongo==3.2.2
django-password-reset==0.8.2
djangorestframework-jwt==1.8.0
raven==5.27.0