<div id="container" class="app">
    <div class="app__header-block">
        <div class="app__top-header-block">
	        <a class="" href="/">
		        <span class="app__brand-title">Aeupdates</span>
    			</a>
          <div class="app__main_menu__block">
              {{CurrentUser}}
                <span class="main_menu__menu-element">{{#link-to "users"}}Users{{/link-to}}</span>
                <span class="main_menu__menu-element">{{#link-to "manage"}}Manage{{/link-to}}</span>
                {{#if session.isAuthenticated}}
                    <span class="main_menu__menu-element" {{action 'logout'}}> Logout </span>
                {{else}}
                    <span class="main_menu__menu-element">{{#link-to "login"}}  Login  {{/link-to}}</span>
                {{/if}}
            </div>
        </div>
    </div>
    {{outlet}}
</div>
