<div id="container" class="cls-container">
    <div class="cls-header cls-header-lg">
        <div class="cls-brand">
	        <a class="box-inline" href="/">
		        <span class="brand-title">Aeupdates<span class="text-thin">  service for aescripts.com</span></span>
    			</a>
            <div style="display: inline">
                <span>{{#link-to "users"}}Users{{/link-to}}</span>
                <span>{{#link-to "manage"}}Manage{{/link-to}}</span>
                {{#if session.isAuthenticated}}
                    <span {{action 'logout'}}> Logout </span>
                {{else}}
                    <span>{{#link-to "login"}}  Login  {{/link-to}}</span>
                {{/if}}
            </div>
        </div>
    </div>
    {{outlet}}
</div>
