<h2 id="title">Aeupdates, service for aescripts.com</h2>
<div style="display: inline">
  <a href="/manage">Manage</a>
  <a href="/users">All Users</a>
  <a href="/login">Login</a>
</div>
{{outlet}}
<div class="main-footer">
    <br>
    {{#if session.isAuthenticated}}
      <button {{action 'logout'}}> Logout </button>
    {{else}}
      {{#link-to 'login'}}
        Login!!
      {{/link-to}}
    {{/if}}

    --------------------------------------
</div>
