<h2 id="title">Aeupdates, service for aescripts.com</h2>
<div style="display: inline">
    <li>{{#link-to "users"}}Users{{/link-to}}</li>
    <li>{{#link-to "manage"}}Manage{{/link-to}}</li>
    <li>{{#link-to "login"}}Login{{/link-to}}</li>
    | logged as {{user.username}}
</div>
{{outlet}}
<div class="main-footer">
    <br>
    {{#if session.isAuthenticated}}
      <button {{action 'logout'}}> Logout </button>
    {{else}}
      {{#link-to 'login'}}
        Login!!
      {{/link-to}}
    {{/if}}

    --------------------------------------
</div>
