<div class="row center-xs">
  <div class="col-xs-8">
      <div class="manage__grid">
        <div class="manage__grid_cell">
            {{#link-to "manage.news"}} News {{/link-to}}
        </div>
        <div class="manage__grid_cell">
            {{#link-to "manage.stats"}} Statistics {{/link-to}}
        </div>
      </div>
  </div>
</div>