<div class="row center-xs">
  <div class="col-xs-10">
    <div class="stats-data__title">Stats Data</div>
    <div class="stats-data__graph_users_by_day">
        <div class="stats-data__chart_title">Sum of all requests to news page by day.</div>
      {{ember-chart type="Line" data=all_data.aggregated_by_day options=aggregated_by_day_CHARTOPTIONS}}
    </div>

    <div class="stats-data__graph_users_count_overall">
        <div class="stats-data__chart_title">User logins by user, aggregated by previous 180 days.</div>
      {{ember-chart type="Bar" data=all_data.aggregated_by_user options=aggregated_by_user_CHARTOPTIONS}}
    </div>

    <div class="stats-data__graph_users_count_unique">
        <div class="stats-data__chart_title">Unique User logins, aggregated by previous 30 days.</div>
      {{ember-chart type="Bar" data=all_data.aggregated_unique_by_day options=aggregated_unique_by_day_CHARTOPTIONS}}
    </div>
  </div>
</div>